# Ignore database files
*.sqlite3
*.db

# Ignore static files directory (generated during development)
/staticfiles/

# Ignore media files directory (user-uploaded files)
/media/

# Ignore virtual environment
venv/
.env

# Ignore IDE files
.vscode/
*.pyc

# Ignore local settings (contains sensitive information)
/local_settings.py

# Ignore Django migration files
**/migrations/
